<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="Default" connectionString="data source=(LocalDb)\v11.0;Initial Catalog=TareaTest;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|Tarea.mdf;"  providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>