@using System.Web.Optimization;
@using Forloop.HtmlHelpers


<!DOCTYPE html>
<html>

<head>
   
    <!-- add lodash as a general utility library.  It doesn't do ajax or anything -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script src="/content/qwest.js"></script>
    <style>
        /* Styles go here */
        #alert {
            background: #66ff66;
            color: white;
            padding: 20px;
            font-size: 1.5em;
        }

        #alert.error {
            background: #FF0000;
        }

        .loader {
            display: none;
        }

        .loading {
            width: 50px;
            height: 50px;
            background: no-repeat url('http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-medium.gif');
            display: block;
            padding-left: 40px;
        }
    </style>
</head>

<body>
    @RenderBody()
    @Html.RenderScripts(Scripts.Render) 
    <script src="/content/script.js" defer="defer"></script>

</body>

</html>
